<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sheetsift{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='sheetsift.png') }}" alt="Sheetsift logotipas" class="logo-img">
    </header>

    <div class="wrapper">
        <div class="container">
            <nav class="main-nav">
                <ul>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('main.index') }}">Pagrindinis</a></li>
                        <li><a href="{{ url_for('main.apie') }}">Apie</a></li>
                        <li><a href="{{ url_for('main.kontaktai') }}">Kontaktai</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Atsijungti</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Prisijungti</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Registruotis</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="user-greeting">
                {% if current_user.is_authenticated %}
                Sveiki, {{ current_user.username }}!
                {% endif %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>


