{% extends "base.html" %}

{% block title %}Pradžia{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<form action="{{ url_for('main.analyze') }}" method="post" enctype="multipart/form-data">
    <section class="bank-selection">
        <h2>Pasirinkite banką</h2>
        <div class="bank-buttons">
            <input type="radio" id="seb" name="bank" value="seb" hidden>
            <label for="seb" class="bank-label">SEB</label>
            <input type="radio" id="swedbank" name="bank" value="swedbank" hidden>
            <label for="swedbank" class="bank-label">Swedbank</label>
            <input type="radio" id="luminor" name="bank" value="luminor" hidden>
            <label for="luminor" class="bank-label">Luminor</label>
            <input type="radio" id="citadele" name="bank" value="citadele" hidden>
            <label for="citadele" class="bank-label">Citadele</label>
            <input type="radio" id="paysera" name="bank" value="paysera" hidden>
            <label for="paysera" class="bank-label">Paysera</label>
            <input type="radio" id="revolut" name="bank" value="revolut" hidden>
            <label for="revolut" class="bank-label">Revolut</label>
            <input type="radio" id="siauliubankas" name="bank" value="siauliubankas" hidden>
            <label for="siauliubankas" class="bank-label">Šiaulių bankas</label>
        </div>
    </section>
    <div class="upload-section">
        <div class="upload-box">
            <img src="{{ url_for('static', filename='file_icon.png') }}" alt="Failo ikona">
            <p>Įkelkite Excel failą</p>
            <p>Palaikomas .xlsx formatas</p>
            <input type="file" name="file" id="file-upload" required>
        </div>
        <button type="submit" class="upload-btn">Filtruoti</button>
    </div>
</form>
{% endblock %}
