<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="Excel data tool" content="Sheetsift, Excel, Data">
    <title>Apie - Shitsift</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='apie.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='sheetsift.png') }}" alt="Failo ikona" class="logo-img">
    </header>
    <div class="wrapper">
        <div class="container">
                <nav class="main-nav">
                    <ul>
                        <li><a href="{{ url_for('index') }}">Pagrindinis</a></li>
                        <li><a href="{{ url_for('apie') }}">Apie</a></li>
                        <li><a href="{{ url_for('kontaktai') }}">Kontaktai</a></li>
                    </ul>
                </nav>
        </div>
            <section class="apie-section">
                <h2>Kas yra Sheetsift?</h2>
                <p>
                  Sheetsift – tai paprastas, bet galingas įrankis, skirtas greitam Excel (.xlsx) failų iš Lietuvos bankų apdorojimui ir duomenų filtravimui.
                </p>
                <h3>Kokios galimybės?</h3>
                <ul>
                    <li>Įkelkite sąskaitos išrašą iš Swedbank, SEB, Luminor, Citadele, Revolut, Paysera ar Šiaulių banko.</li>
                    <li>Automatiškai aptinkama struktūra ir pritaikytas formatas pagal konkretų banką.</li>
                    <li>Galimybė išfiltruoti bankines operacijas pagal datą, sumą, aprašymą ar kitus kriterijus.</li>
                    <li>Patogi ir aiški vartotojo sąsaja.</li>
                </ul>
                <h3>Nauda vartotojui:</h3>
                <ul>
                    <li>Sutaupytas laikas rankiniam duomenų rūšiavimui.</li>
                    <li>Galimybė greitai analizuoti savo finansus.</li>
                    <li>Nereikia jokių papildomų programų – viskas veikia naršyklėje.</li>
                </ul>
            </section>
    </div>
</body>
</html>
